.table-alunos{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-alunos td,
.table-alunos th {
    border: 1px solid #ddd;
    padding: 8px;
}


.table-alunos th {
    padding:12px 0  12px 0;
    text-align: left;
    background-color: teal;
    color: white;
}