<p *ngIf="estaLigado; else desligado">Servidor esta ligado!</p>

<ng-template #desligado>
    <p>O servidor esta Desligado</p>
</ng-template>
<button (click)="toggle()">Ligar/Desligar</button>

<hr />

<p>{{counter}}</p>

<button (click)="incrementar()">Incrementar</button>

<hr />

<h4>Lista de compras</h4>

<ul>
    <li *ngFor="let produto of listaDeCompras">
        {{produto}}
    </li>
</ul>


<table class="table-alunos">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Média</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let aluno of alunos; index as i">
            <td>{{i + 1}}</td>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.email}}</td>
            <td>{{aluno.media}}</td>
            <td>
                <button (click)="alertar(aluno)">Alertar</button>
            </td>
        </tr>
    </tbody>
</table>

<hr/>

<select [(ngModel)]="opcaoSelecionada">
    <option value="nenhum">Nenhum</option>
    <option [value]="opc" *ngFor="let opc of opcoes ">{{opc}}</option>

</select>

<div [ngSwitch]="opcaoSelecionada">
    <img 
    *ngSwitchCase="'Opção 1'" 
    src="https://images.unsplash.com/photo-1788100153588-c1543f4ee916?q=80&w=1924&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""/>
    <img
    *ngSwitchCase="'Opção 2'" 
    src="https://plus.unsplash.com/premium_photo-1736722043387-74bf3a686ac3?q=80&w=1129&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""/>
    <img
    *ngSwitchCase="'Opção 3'" 
     src="https://pixabay.com/pt/images/download/x-10234997_1920.jpg" alt=""/>
    <img 
    *ngSwitchCase="'Opção 4'" 
    src="https://pixabay.com/pt/images/download/x-10442728_1920.jpg" alt="">

</div>