<div class="container m-y">
    <p>{{mensagem | uppercase}}</p>
    <p>{{mensagem | lowercase}}</p>

    <p>{{valor | percent}}</p>
    <p>{{valor | percent: '1.0-2'}}</p>

    <p>{{salario | currency: 'BRL':'symbol':'1.1-2'}}</p>

    <p>{{hoje | date:'dd/MM/Y'}}</p>

    <p>{{'email1234@email.com' | ocultarEmail}}</p>
    <p>{{mensagem | limitarTexto: 5}}</p>
    <p>A soma dos valores: {{valores | somarArray}}</p>
    
    <input 
    type="text" 
    placeholder="Digite um valor"
    [(ngModel)]="numeroDigitado"
    />
    <button (click)="inseririr()">Inserir numeros</button>

</div>